*{
    padding: 0px;
    margin: 0px;
}
.main{
    width: 100%-20px;
    height: 600px;
    padding: 10px;
    /* border: 1px solid black; */
}
.page1{
    width: 100%-20px;
    height: 600px;
    background-image: url(../images/doctor.avif);
    /* border: 1px solid black; */
    background-size: cover;
    background-repeat: no-repeat;
}
.page1 .content{
    height: 600px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.page1 .heading{
    width: 400px;
    height: 60px;
}
.page1 .para{
    width: 430px;
    height: 50px;
    margin-top: 20px;
}
.page1 span{
    color: rgb(69, 159, 249);
}
.page1 button{
    margin-top: 20px;
    padding: 7px 10px;
    background-color: rgb(59, 59, 87);
    color: aliceblue;
}

/* *CARDS* */
.card{
    width: 900px;
    height: 300px;
    background-color: rgb(59, 59, 87);
    position: relative;
    left: 18%;
    bottom: 80px;
}
.card .cards .logo{
    width: 50px;
    height: 50px;
    /* background-color: red; */
    position: relative;
    left: 40%;
    top: 50px;
}
i{
    font-size: 50px;
}
.card .cards{
    width: 260px;
    height: 260px;
    background-color: rgb(153, 153, 228);
    float: left;
    padding: 20px;
    color: aliceblue;
    font-size: small;
}
.cards:nth-child(1){
    background-color: rgb(153, 153, 228);
}
.cards:nth-child(2){
    background-color: rgb(85, 85, 126);
}
.cards:nth-child(3){
    background-color: rgb(56, 56, 77);
}
.card .heading{
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 15%;
    top: 35%;
}
.card .para{
    width: 260px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 35%;
}
.page2{
    width: 100%-20px;
    height: 600px;
    /* border: 1px solid red; */
}
.page2 .container{
    width: 100%-20px;
    height: 600px;
}
.page2 .header{
    width: 100px-20px;
    height: 100px;
}
.page2 .header .heading{
    width: 100px-20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.page2 .header .heading .content{
    width: 605px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page2 .footer{
    width: 100%-20px;
    height: 460px;
    margin-top: 30px;
}
.page2 .footer .content{
    width: 60%;
    height: 460px;
    float: left;
}
.page2 .footer .img{
    width: 39.6%;
    height: 460px;
    float: right;
}
.page2 .footer img{
    width: 100%;
    height: 100%;
}
.page2 .footer .contents{
    padding: 5px;
    width: 100%-30px;
    height: 143px;
    /* border: 1px solid green; */
}
.page2 .footer .contents .pic{
    margin-left: 20px;
    width: 100px;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
.page2 .footer .contents .heading{
    width: 100%-150px;
    height: 50%;
    display: flex;
    align-items: center;
}
.page2 .footer .contents .heading .head{
    width: 200px;
    height: 10px;
    text-align: left;
}
.page2 .footer .contents .para{
    width: 100%-150px;
    height: 50%;
    display: flex;
}
.page2 .footer .contents .paras{
    width: 470px;
    height: 40px;
    text-align: left;
}

.page3{
    width: 100%-20px;
    height: 1250px;
    /* border: 1px solid green; */
}
.page3 .header{
    width: 100%;
    height: 300px;
    background-color: rgb(113, 113, 147);
    border: 1px solid rgb(255, 255, 255);
}
.page3 .header .content{
    width: 100%;
    height: 70px;
}
.page3 .header .heading{
    width: 100%;
    height: 20px;
    text-align: center;
}
.page3 .paras{
    width: 100%;
    height: 50px;
    display: flex;
    text-align: end;
    justify-content: center;
    align-items: end;
}
.page3 .para{
    width: 600px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .page3 .forlogos{
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page3 .header .pics{
    width: 65%;
    height: 200px;
}
.page3 .header .abc{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}
.page3 .header .def{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}
.page3 .abc .images{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.page3 .def .fornames{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: small;
}

.page3 .header .images .logos{
    width: 50px;
    height: 50px;
    /* background-color: green; */
}
.page3 .header .images .logos:nth-child(n){
    position: relative;
    left: 15px;
}

.page3 .middle{
    width: 100%-300px;
    height: 260px;
    padding: 30px 150px;
}
.page3 .middle .pic{
    width: 50%;
    height: 100%;
    float: left;
}
.page3 .middle img{
    width: 100%;
    height: 100%;
}
.page3 .middle .content{
    width: 45%;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page3 .middle .content .abc{
    width: 100%;
    height: 80%;
    float: right;
}
.page3 .middle .content .heading{
    width: 100%;
    height: 10%;
}
.page3 .middle .content .para{
    width: 100%;
    height: 89%;
    text-align: left;
}
.page3 .footer{
    width: 100%;
    height: 600px;
    background-color: rgb(66, 73, 92);
    padding-top: 30px;
}
.page3 .footer .faheader{
    height: 60px;
    width: 100%;
}
.page3 .footer .faheader .heading{
    width: 100%;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page3 .footer .faheader .para{
    width: 100%;
    height: 20px;
    display: flex;
    justify-self: center;
    align-items: center;
}
.para .paradiv{
    width: 35%;
    height: 100%;
    text-align: center;
}
.page3 .pcards{
    margin-top: 20px;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pcards .abc{
    width: 1070px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.pcards .pcardss{
    width: 350px;
    height: 500px;
}
.pcardss .pic{
    width: 350px;
    height: 300px;
}
.pcardss .content{
    padding-left: 20px;
    width: 330px;
    height: 200px;
    background-color: rgb(255, 255, 255);
}
.pcardss .content .heading{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: end;
}
.pcardss .content .para{
    width: 90%;
    height: 70px;
    display: flex;
    text-align: start;
    align-items: end;
}
.pcardss a{
    height: 50px;
    display: flex;
    align-items: end;
    text-decoration: none;
}
.pcardss .pic img{
    width: 350px;
    height: 300px;
}
.page4{
    width: 100%;
    height: 500px;
    background-image: url(../images/worldmap.jpg);
    padding-top: 20PX;
    display: flex;
    justify-content: center;
}
.page4 .in{
    width: 600px;
    height: 100px;
}
.page4 .heading{
    width: 480px;
    height: 30px;
    text-align: center;
}
.page4 .para{
    width: 480px;
    height: 20px;
    text-align: center;
}
.page5{
    width: 100%;
    height: 1000px;
    
}
.page5 .spcialists{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page5 .spcialists .container{
    width: 70%;
    height: 500px;
}
.page5 .spcialists .container .heading{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
}
.page5 .spcialists .container .para{
    width: 50%;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: end;
    justify-content: end;
    padding-left: 200px;
}
.page5 .spcialists .container .pics{
    width: 100%px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.page5 .pics .doct{
    width: 200px;
    height: 300px;
}
.page5 .pics .img{
    width: 200px;
    height: 220px;
}
.page5 .pics img{
    width: 200px;
    height: 220px;
}
.page5 .pics .data{
    width: 200px;
    height: 80px;
}
.page5 .pics #d1{
    background-color: rgb(43, 43, 53)
}
.page5 .pics #d2{
    background-color: rgb(67, 67, 162)
}
.page5 .pics #d3{
    background-color: rgb(153, 153, 228);
}
.page5 .pics .data .name{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page5 .pics .data .ocup{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}
.getintouch{
    width: 100%;
    height: 420px;
    /* border: 1px solid red; */
    background-color: rgb(125, 125, 174);
}
.getintouch .content{
    width: 100%;
    height: 60px;
    padding-top: 30px;
    color: white;
}
.getintouch .abc{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.getintouch .name{
    width: 100%;
    height: 20px;
    text-align: center;
}
.getintouch .para{
    margin-top: 10px;
    width: 35%;
    height: 20px;
    text-align: center;
}
.getintouch .details{
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.getintouch .details .container{
    width: 55%;
    height: 100%;
}
.getintouch .details .container .input1{
    width: 100%;
    height: 25px;

}
.getintouch .details .container .input2{
    width: 100%;
    height: 25px;

}
.getintouch .details .container .input3{
    width: 100%;
    height: 70px;

}
.getintouch .details .container .input4{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.getintouch .details .container textarea{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    margin-top: 20px;
    color: rgb(210, 211, 225);
    background-color: rgb(56, 56, 77);
}
.b{
    padding: 5px 15px;
    background-color: rgb(176, 194, 209);
    border: none;
}
.adv{
    width: 100%;
    height: 70px;
    margin-top: 30px;
    background-color: rgb(37, 37, 42);
    display: flex;
    justify-content: center;
    align-items: center;
}
.adv a{
    color: rgb(139, 139, 204);
}
